# PyCity Schools Analysis

- Your analysis here
  
---

In [765]:
# Dependencies and Setup
import pandas as pd
import numpy as np 
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/Users/molleighhughes/Desktop/M4Starter/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/molleighhughes/Desktop/M4Starter/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

There are 15 schools in the district

The total number of students in all schools is 39,170

The total budget for the district is $24,649,428

The average math score in the schools is 79.985

The average reading score in the schools is 81.878

74.981% of students in the district passed math by obtaining a score of >= 70 

85.805% of students in the district passed reading by obtaining a score of >= 70

65.172% of students in the district passed both math & reading by obtaining a score of >= 70 in both the subjects

In [766]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique()) 
school_count

15

In [767]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"])
student_count

39170

In [768]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [769]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [770]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [771]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / (float)(student_count) * 100
passing_math_percentage

74.9808526933878

In [772]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / (float)(student_count) * 100
passing_reading_percentage

85.80546336482001

In [773]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  (float)(student_count) * 100
overall_passing_rate

65.17232575950983

In [774]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame ({"Total Schools": [school_count], 
                                  "Total Students": [student_count],
                                  "Total Budget": [total_budget],
                                  "Average Math Score": [average_math_score],
                                  "Average Reading Score": [average_reading_score],
                                  "Passing Math %": [passing_math_percentage], 
                                  "Passing Reading %": [passing_reading_percentage],
                                  "Overall Passing %": [overall_passing_rate]})

district_summary_table = pd.DataFrame(district_summary)

# Formatting
district_summary_table["Total Students"] = district_summary_table["Total Students"].map("{:,}".format)
district_summary_table["Total Budget"] = district_summary_table["Total Budget"].map("{:,.2f}".format)
district_summary_table["Average Math Score"] = district_summary_table["Average Math Score"].map("{:,.6f}".format)
district_summary_table["Average Reading Score"] = district_summary_table["Average Reading Score"].map("{:,.6f}".format)
district_summary_table["Passing Math %"] = district_summary_table["Passing Math %"].map("{:,.3f}".format)
district_summary_table["Passing Reading %"] = district_summary_table["Passing Reading %"].map("{:,.3f}".format)
district_summary_table["Overall Passing %"] = district_summary_table["Overall Passing %"].map("{:,.3f}".format)

# Display the DataFrame
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
0,15,"39,170","24,649,428.00",78.985371,81.877840,74.981,85.805,65.172

## School Summary

Charter schools have lesser number of students students for eight schools in the district.
District schools have greater number of students for seven schools in the district.

The total budget for Charter schools is lower than District schools at 1.32 million.
The total budget for District schools is higher than Charter schools at  3.12 million.

The budget per student for Charter schools ranges between 
638 per student.
The budget per student for District schools ranges between 
655 per student.

The total budget for schools is usually higher when the school has a higher number of students. 

The students enrolled in Charter schools have higher math scores on average (83) compared to students enrolled in District schools (76-77).

The percentage of students passing maths higher in Charter schools (92%-94%) as compared to District schools (65%-68%).

Students in Charter schools have higher reading scores on average (83-84) compared to the students in District schools (80-81). 

The percentage of students passing reading is higher in Charter schools (95%-97%) as compared to District schools (79%-82%).

The overall passing rate is higher in Charter schools (89%-91%) than in District schools (52%-54%).

The students in Charter schools seem to have higher grades than the grades of students in District schools.

In [775]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types.head(4)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Name: type, dtype: object

In [776]:
# Calculate the total student count per school
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts.head(4)

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Name: size, dtype: int64

In [777]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita.head(4)

/var/folders/6w/fvcr_6pj6t54c0m51vn7b3gw0000gn/T/ipykernel_58019/997286282.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
dtype: float64

In [778]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
print (per_school_math.head(4))
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
print (per_school_reading.head(4))

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Name: math_score, dtype: float64
school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Name: reading_score, dtype: float64

/var/folders/6w/fvcr_6pj6t54c0m51vn7b3gw0000gn/T/ipykernel_58019/727337443.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
/var/folders/6w/fvcr_6pj6t54c0m51vn7b3gw0000gn/T/ipykernel_58019/727337443.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [779]:
# Calculate the number of students per school with math scores of 70 or higher.
#First, filter the DataFrame to include only students w/ scores of >=70
students_passing_math = school_data_complete[school_data_complete['math_score']>=70]
#Group filtered DataFrame by "school_name" and count the number of students in each group
school_students_passing_math = students_passing_math.groupby(["school_name"])['math_score'].count()
print (school_students_passing_math.head(4))

school_name
Bailey High School      3318
Cabrera High School     1749
Figueroa High School    1946
Ford High School        1871
Name: math_score, dtype: int64

In [780]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"])["reading_score"].count()
print (school_students_passing_reading.head(4))

school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Name: reading_score, dtype: int64

In [781]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print (school_students_passing_math_and_reading.head(4))

school_name
Bailey High School      2719
Cabrera High School     1697
Figueroa High School    1569
Ford High School        1487
dtype: int64

In [782]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
grouped_per_school_passing_math = per_school_passing_math.groupby(["school_name"])
print (per_school_passing_math.head(4))

per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
grouped_per_school_passing_reading = per_school_passing_reading.groupby(["school_name"])
print (per_school_passing_reading.head(4))

overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
grouped_overall_passing_rate = overall_passing_rate.groupby(["school_name"])
print (overall_passing_rate.head(4))

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
dtype: float64
school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
dtype: float64
school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
dtype: float64

In [805]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame ({"School Type" : school_types,
                                    "Total Students" : per_school_counts,
                                    "Total School Budget" : per_school_budget,
                                    "Per Student Budget" : per_school_capita,
                                    "Average Math Score" : per_school_math,
                                    "Average Reading Score" : per_school_reading,
                                    "Passing Math %" : per_school_passing_math,
                                    "Passing Reading %" : per_school_passing_reading,
                                    "Overall Passing %" : overall_passing_rate})

per_school_summary_table = pd.DataFrame(per_school_summary)

# Formatting
per_school_summary_table["Total School Budget"] = per_school_summary_table["Total School Budget"].map("{:,.2f}".format)
per_school_summary_table["Per Student Budget"] = per_school_summary_table["Per Student Budget"].map("{:,.2f}".format)
per_school_summary_table["Average Math Score"] = per_school_summary_table["Average Math Score"].map("{:,.6f}".format)
per_school_summary_table["Average Reading Score"] = per_school_summary_table["Average Reading Score"].map("{:,.6f}".format)
per_school_summary_table["Passing Math %"] = per_school_summary_table["Passing Math %"].map("{:,.3f}%".format)
per_school_summary_table["Passing Reading %"] = per_school_summary_table["Passing Reading %"].map("{:,.3f}%".format)
per_school_summary_table["Overall Passing %"] = per_school_summary_table["Overall Passing %"].map("{:,.3f}%".format)


# Display the DataFrame
per_school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Bailey High School,District,4976,"3,124,928.00",628.00,77.048432,81.033963,66.680%,81.933%,54.642%
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.061895,83.975780,94.133%,97.040%,91.335%
Figueroa High School,District,2949,"1,884,411.00",639.00,76.711767,81.158020,65.988%,80.739%,53.204%
Ford High School,District,2739,"1,763,916.00",644.00,77.102592,80.746258,68.310%,79.299%,54.290%
Griffin High School,Charter,1468,"917,500.00",625.00,83.351499,83.816757,93.392%,97.139%,90.599%
Hernandez High School,District,4635,"3,022,020.00",652.00,77.289752,80.934412,66.753%,80.863%,53.528%
Holden High School,Charter,427,"248,087.00",581.00,83.803279,83.814988,92.506%,96.253%,89.227%
Huang High School,District,2917,"1,910,635.00",655.00,76.629414,81.182722,65.684%,81.316%,53.514%
Johnson High School,District,4761,"3,094,650.00",650.00,77.072464,80.966394,66.058%,81.222%,53.539%
Pena High School,Charter,962,"585,858.00",609.00,83.839917,84.044699,94.595%,95.946%,90.541%
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.842711,80.744686,66.367%,80.220%,52.988%
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.359455,83.725724,93.867%,95.855%,89.892%
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.418349,83.848930,93.272%,97.309%,90.948%
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.274201,83.989488,93.868%,96.540%,90.583%
Wright High School,Charter,1800,"1,049,400.00",583.00,83.682222,83.955000,93.333%,96.611%,90.333%

## Highest-Performing Schools (by % Overall Passing)

The 5 highest performing schools are Charter schools with over 90% of students obtaining a score of 70 or higher in both math and reading.

The per student budget is not necessarily higher for the school with the best overall score. 
Perhaps more spending does not equate to higher student scores in this school district.

In [806]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing %", ascending = False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.061895,83.975780,94.133%,97.040%,91.335%
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.418349,83.848930,93.272%,97.309%,90.948%
Griffin High School,Charter,1468,"917,500.00",625.00,83.351499,83.816757,93.392%,97.139%,90.599%
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.274201,83.989488,93.868%,96.540%,90.583%
Pena High School,Charter,962,"585,858.00",609.00,83.839917,84.044699,94.595%,95.946%,90.541%

## Bottom Performing Schools (By % Overall Passing)
The 5 bottom performing schools are District schools with less than 53% students obtaining a score of 70 or higher in both math and reading.

The per student budget is relatively higher for the school with the lower overall scores.

In [807]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing %", ascending = True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.842711,80.744686,66.367%,80.220%,52.988%
Figueroa High School,District,2949,"1,884,411.00",639.00,76.711767,81.158020,65.988%,80.739%,53.204%
Huang High School,District,2917,"1,910,635.00",655.00,76.629414,81.182722,65.684%,81.316%,53.514%
Hernandez High School,District,4635,"3,022,020.00",652.00,77.289752,80.934412,66.753%,80.863%,53.528%
Johnson High School,District,4761,"3,094,650.00",650.00,77.072464,80.966394,66.058%,81.222%,53.539%

## Math Scores by Grade
Math scores for 9th graders range between 76.40 to 83.79
Math scores for 10th graders range between 75.91 to 84.23
Math scores for 11th graders range between 76.40 to 85.00
Math scores for 12th graders range between 76.18 to 84.12

In [808]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()
                                                      
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th" : ninth_grade_math_scores, 
                                      "10th" : tenth_grader_math_scores, 
                                      "11th" : eleventh_grader_math_scores,
                                      "12th" : twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade 
Reading scores for 9th graders range between 80.63 to 84.12
Reading scores for 10th graders range between 80.63 to 84.25
Reading scores for 11th graders range between 80.40 to 84.37
Reading scores for 12th graders range between 80.31 to 84.70

In [809]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th" : ninth_grade_reading_scores, 
                                         "10th" : tenth_grader_reading_scores, 
                                         "11th" : eleventh_grader_reading_scores,
                                         "12th" : twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending
The average scores & passing rates are inversely proportional to spending per student.

Schools with lowest spending per student had the best average math & reading scores, and schools with lowest spending per student had the best overall passing rates.
Schools with highest spending per student had the lowest average math & reading scores, and school with highest spending per student also had the lowest overall passing rates.

In [810]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["< $585", "$585 - 630", "$630 - 645", "$645 - 680"]

In [811]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [812]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita
                                                             spending_bins, labels=spending_labels)
school_spending_df.head(4)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2485111834.py, line 2)

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = per_school_summary_table.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_table.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_table.groupby(["Spending Ranges (Per Student)"]).mean()["Passing Math %"]
spending_passing_reading = per_school_summary_table.groupby(["Spending Ranges (Per Student)"]).mean()["Passing Reading %"]
overall_passing_spending = per_school_summary_table.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing %"]

In [814]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({"Average Math Score" : spending_math_scores, 
                                  "Average Reading Score" : spending_reading_scores,
                                  "Passing Math %" : spending_passing_math,
                                  "Passing Reading %" : spending_passing_reading
                                  "Overall Passing %" : overall_passing_spending})

# Display results
spending_summary

SyntaxError: invalid syntax (4156564726.py, line 6)

## Scores by School Size

Large-size schools with students ranging between 2000 to 5000 had the lowest average scores for math and reading. 
Large-sized schools also had the lowest overall passing rates as well as lowest passing rates for maths and reading.

In [798]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [820]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_size_df = per_school_summary_table.copy()

per_school_summary_table["School Size"] = pd.cut(per_school_summary_table["Total Students"], size_bins, labels=size_labels)
per_school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"3,124,928.00",628.00,77.048432,81.033963,66.680%,81.933%,54.642%,Large (2000-5000)
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.061895,83.975780,94.133%,97.040%,91.335%,Medium (1000-2000)
Figueroa High School,District,2949,"1,884,411.00",639.00,76.711767,81.158020,65.988%,80.739%,53.204%,Large (2000-5000)
Ford High School,District,2739,"1,763,916.00",644.00,77.102592,80.746258,68.310%,79.299%,54.290%,Large (2000-5000)
Griffin High School,Charter,1468,"917,500.00",625.00,83.351499,83.816757,93.392%,97.139%,90.599%,Medium (1000-2000)
Hernandez High School,District,4635,"3,022,020.00",652.00,77.289752,80.934412,66.753%,80.863%,53.528%,Large (2000-5000)
Holden High School,Charter,427,"248,087.00",581.00,83.803279,83.814988,92.506%,96.253%,89.227%,Small (<1000)
Huang High School,District,2917,"1,910,635.00",655.00,76.629414,81.182722,65.684%,81.316%,53.514%,Large (2000-5000)
Johnson High School,District,4761,"3,094,650.00",650.00,77.072464,80.966394,66.058%,81.222%,53.539%,Large (2000-5000)
Pena High School,Charter,962,"585,858.00",609.00,83.839917,84.044699,94.595%,95.946%,90.541%,Small (<1000)
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.842711,80.744686,66.367%,80.220%,52.988%,Large (2000-5000)
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.359455,83.725724,93.867%,95.855%,89.892%,Medium (1000-2000)
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.418349,83.848930,93.272%,97.309%,90.948%,Medium (1000-2000)
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.274201,83.989488,93.868%,96.540%,90.583%,Large (2000-5000)
Wright High School,Charter,1800,"1,049,400.00",583.00,83.682222,83.955000,93.333%,96.611%,90.333%,Medium (1000-2000)

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["Passing Math %"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["Passing Reading %"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["Overall Passing %"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame ({"Average Math Score" : size_math_scores,
                              "Average Reading Score" : size_reading_scores,
                              "Passing Math %" : size_passing_math,
                              "Passing Reading %" : size_passing_reading, 
                              "Overall Passion %" : size_overall_passing})

# Display results
size_summary

## Scores by School Type

Students in Charter schools outperformed students in District schools in all categories. 
They had higher average scores and better passing rates.

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
average_reading_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"]).mean()["Passing Math %"]
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"]).mean()["Passing Reading %"]
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"]).mean()["Overall Passing %"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame ({"Average Math Score" : average_math_score_by_type, 
                              "Average Reading Score" : average_reading_score_by_type, 
                              "Passing Math %" : average_percent_passing_math_by_type,
                              "Passing Reading %" : average_percent_passing_reading_by_type, 
                              "Overall Passing %" : average_percent_overall_passing_by_type})

# Display results
type_summary